RewriteEngine On    # Turn on the rewriting engine

RewriteRule ^listOne/([0-9a-zA-Z_-]*)$ listOne.php?id_user=$1 [NC,L]
RewriteRule ^login$ login.php
RewriteRule ^logout$ logout.php
RewriteRule ^register$ register.php


