RewriteEngine On    # Turn on the rewriting engine

RewriteRule ^listByCategory/([0-9a-zA-Z_-]*)$ listByCategory.php?id_category=$1 [NC,L]
RewriteRule ^listBySearch/([^/\s]+)$ listBySearch.php?searchQuery=$1 [NC,L]
RewriteRule ^listOne/([0-9a-zA-Z_-]*)$ listOne.php?id=$1 [NC,L]

